# FOR REFERENCE - DO NOT UNCOMMENT
#
# Populate cloudinary variables depending on your use case:
#
# ---production/staging---
# CLOUDINARY_CLOUD_NAME=mintbean
# CLOUDINARY_UPLOAD_PRESET=mintbean-public
# INTERCOM_APP_ID=cnqttk95
# 
# ---local upload testing---
# CLOUDINARY_CLOUD_NAME=dgxkozw6v
# CLOUDINARY_UPLOAD_PRESET=mb-test
# INTERCOM_APP_ID=i8mgjyfj


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET= 
INTERCOM_APP_ID=

# Feature Flags - DO NOT ENABLE IN PRODUCTION ----------------
# >> Include the below flag variables in your .env uncommented if you would like to enable the given WIP feature 

# >> below allows view of Kanban admin controls. Comment out if using FF_KANBAN_USER
# FF_KANBAN=true
# >> below allows view of Kanban user controls. Comment out if using FF_KANBAN
# FF_KANBAN_USER=true
