@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600;1,700&display=swap");

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* Global base styles using tailwind - feel free to edit & extend */
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  a {
    @apply text-mb-green-200;
  }
  body {
    color: #09090b; /* TODO: use a standard mb color*/
  }
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border: solid gray 2px;
  padding: 0.25em;
  margin: 0.25em;
}

.markdown-toast a {
  color: #000000;
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
}
